body{
  background-image: url('https://images.alphacoders.com/453/45373.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  font: normal 14px Roboto,arial,sans-serif;
  font-family: 'Dancing Script', cursive!important;
  color:aliceblue;
  margin: 0px;
}

.navigationBar{
  display: flex;
  flex-direction: row;
  height: 70px;
  padding-top: 10px;
  padding-left: 10px;
}

.btnHome,.btnPlaylist{
  background-color: aliceblue;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  margin-left: 15px;
  width: 10%;
  height: 70%;
  border-radius: 20px;
  font-size: medium;
  font-weight: bolder;
  cursor:pointer;
}

.btnHome:hover,
.btnPlaylist:hover,
.video:hover,
.addToPlayList:hover{
  background-color: #004C99;
  color:aliceblue;
  transition: background-color 0.5s linear 0.1s;
}

.description{
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-weight: bolder;
}

.songs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-height: 100%;

}

.song{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.imgCover{
  width: auto;
  border-radius: 20px;
  height: 250px;
}

.options{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.video,.addToPlayList{
  margin-left: 10px;
  width: 40%;
  height: 25px;
  border-radius: 20px;
  font-size: larger;
  cursor: pointer;
}

.cartPlayList{
  display:flex;
  flex-direction: row;
  position: fixed;
  right: 20px;
  top: 0;
  z-index: 1;
  font-size: 10px;
}

.numberPlayList{
  margin-left: 5px;
}







