body{
  background-image: url('https://images.alphacoders.com/453/45373.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  font: normal 14px Roboto,arial,sans-serif;
  font-family: 'Dancing Script', cursive!important;
  color:aliceblue;
  margin: 0px;
}

.navigationBar{
  display: flex;
  flex-direction: row;
  height: 70px;
  padding-top: 10px;
  padding-left: 10px;
}

.btnHome,.btnPlaylist{
  background-color: aliceblue;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  margin-left: 15px;
  width: 10%;
  height: 70%;
  border-radius: 20px;
  font-size: medium;
  font-weight: bolder;
  cursor:pointer;
}

.btnHome:hover,
.btnPlaylist:hover,
.statistic:hover,
.addToPlayList:hover{
  background-color: #004C99;
  color:aliceblue;
  transition: background-color 0.5s linear 0.1s;
}

.description{
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-weight: bolder;
}

.songs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-height: 100%;

}

.song{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.imgCover{
  width: auto;
  border-radius: 20px;
  height: 250px;
}

.options{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.addToPlayList{
  margin-left: 10px;
  width: 40%;
  height: 25px;
  border-radius: 20px;
  font-size: larger;
  cursor: pointer;
}

.cartPlayList{
  display:flex;
  flex-direction: row;
  position: fixed;
  right: 20px;
  top: 0;
  z-index: 1;
  font-size: 10px;
}

.numberPlayList{
  margin-left: 5px;
}

.statistic{
  width: 40%;
  height: 25px;
  border-radius: 20px;
  font-size: larger;
  cursor: pointer;
  background-color: white;
  color: black;
  text-align: center;
  border:2px solid black;
}

.songStat{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.video{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

#video{
  border-radius: 15px;
  border: 3px solid wheat;
}

.title{
  margin-left: 20px;
  font-style: italic;
  font-size: larger;
  font-weight: bolder;
}

.paragraph{
  margin-left: 20px;
  font-size: medium;
  font-weight: bolder;
  font-style: italic;
  width: 60%;
}
.search-field{
  margin-top: 20px;
  text-align: center;
}

.search{
  margin-left: 10px;
  border-radius: 15px;
  font-size: small;
  font-weight: lighter;
  font-style: italic;
  height: 20px;
}

#lblSearch{
  font-size: medium;
}

.data{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Courier New', Courier, monospace;
}

.info{
  margin-top: 40px;
  border-top: 10px solid white;
  border-radius: 30px;
}

.sources-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.youtube,.spotify,.wikipedia{
  color:white;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 50px;
  height: 60px;
}

.youtube:hover,
.spotify:hover,
.wikipedia:hover{
  color:blue;
  transition: color 0.5s linear 0.1s;
}

.privacy-policy{
  margin-left: 25%;
  width: 50%;
}

#sites{
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}




